[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SurvMetrics"]
	path = SurvMetrics
	url = https://github.com/whcsu/survmetrics
